
.object {
    position:absolute;
    z-index:2;
}

#showFPS {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: red;
    margin-left: 380px;
}

#niveau {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

#partieWonLose {
    position: absolute;
    top:50px;
    left:400px;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    color:green;
    display: none;
}

#nbOiseau {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: blue;
    margin-left: 300px;
}

#canvas {
   background-image: url("./img/background.png");;
}

input[type=number] {
    cursor: pointer;
    width: 60px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}