
.object {
    position:absolute;
    z-index:2;
}

#showFPS {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: red;
}

#niveau {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

#partieWonLose {
    position: absolute;
    top:50px;
    left:340px;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    color:green;
    display: none;
}

#nbOiseau {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    color: blue;
    margin-left: 48vh;
    margin-right: 48vh;
}







#canvas {
   background-color: yellow;
}
